<div class="aw-register-box" ng-app="zhuceApp" ng-controller="zhuceCtrl" style="height:800px">
    <div class="mod-head">
        <h1>注册新用户</h1>
    </div>
    <div class="mod-body">
        <form class="aw-register-form" name="zhuceForm" ng-submit="postForm($event)" action="">
            <ul>
                <li class="alert alert-danger hide error_message text-left">
                    <i class="fa fa-remove"></i><em></em>
                </li>
                <li>
                    <input class="aw-register-name form-control" type="text" name="name" ng-model="data.name" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_]{4,11}$/" placeholder="用户名" required>
                    <span ng-cloak ng-show="zhuceForm.name.$dirty && zhuceForm.name.$invalid" class="aw-reg-tips  aw-reg-err">
                        <i class="aw-icon i-err"></i>
                        用户名长度不符合
                    </span>
                </li>
                <li>
                    <input class="aw-register-email form-control" type="text" placeholder="邮箱" name="email" ng-model="data.email" ng-pattern="/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/" required>
                    <span  ng-cloak ng-show="zhuceForm.email.$dirty && zhuceForm.email.$invalid" class="aw-reg-tips  aw-reg-err">
                        <i class="aw-icon i-err"></i>
                        邮箱格式不正确
                    </span>
                </li>
                <li>
                    <input class="aw-register-pwd form-control" type="password" name="password" placeholder="密码" ng-model="data.password" ng-pattern="/(?!^\\d+$)(?!^[a-zA-Z]+$)(?!^[_#@]+$).{5,11}/" required>
                    <span ng-cloak ng-show="zhuceForm.password.$dirty && zhuceForm.password.$invalid" class="aw-reg-tips  aw-reg-err">
                        <i class="aw-icon i-err"></i>
                        密码格式不正确
                    </span>
                </li>
                <li class="last">
                    <label>
                        <input type="checkbox" checked="checked" value="agree" name="">我同意
                    </label>
                    <a href="#">用户协议</a>
                    <a href="#" class="pull-right">已有账号</a>
                </li>
                <li class="clearfix">
                    <button type="submit" ng-disabled="zhuceForm.$invalid" class="btn btn-large btn-blue btn-block">注册</button>
                </li>
            </ul>
        </form>
    </div>
    <!-- 正确或错误的提示信息 -->
    <div class="mod-footer" style="height:40px;">
        <div ng-show="error" id="errorbox" ng-cloak class="alert alert-danger" role="alert">
            {{error}}
        </div>
        <div ng-show="success" id="successbox" ng-cloak class="alert alert-success" role="alert">
            {{success}}
        </div>
    </div>
</div>